.main-btn {
  all: unset;
  background-color: rgb(217, 241, 243);
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  padding: 10px 5px;
  text-align: center;
  border: 1px solid #000;
  font-size: 13px;
}

.active {
  all: unset;
  background-color: rgb(139, 131, 56);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 5px 5px;

  text-align: center;
  border: 1px solid #000;
  font-size: 13px;
}

.desactive {
  all: unset;
  background-color: rgb(142, 153, 158);
  border-radius: 10px;
  padding: 5px 5px;
  text-align: center;
  font-size: 13px;
}

.activated {
  all: unset;
  background-color: rgb(139, 131, 56);
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 5px;
  text-align: center;
  font-size: 13px;
}

.smaller {
  width: 33%;
}

.left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.center {
  border-radius: 0;
}
